.b-button {
  @include flexy-button() {
    border-radius: 3px;
    background: {
      color: $flexy-current-color;
    }
    color: flexy-button-color-detect($flexy-current-color);

    &:hover, &:focus {
      color: flexy-button-color-detect($flexy-current-color);
      background: {
        color: flexy-button-hover-color($flexy-current-color);
      }
    }

    &:active {
      color: flexy-button-color-detect($flexy-current-color);
      background: {
        color: flexy-button-active-color($flexy-current-color);
      }
    }
  }
}

.b-checkbox {
  $size: flexy-typo-get-font-size(eta);

  @include flexy-input-checkbox-radio-inactive($size) {
    padding-left: 28px;

    &:before {
      font-size: $size + px;
      transition: box-shadow .2s ease;
      border-radius: 1px;
      margin-top: -($size / 2) + px;
      width: $size + px;
      height: $size + px;
      line-height: $size + px;
      box-shadow: 0 0 0 2px $flexy-typo-caption-color;
    }
  }

  @include flexy-input-checkbox-radio-active($size) {
    &:before {
      color: $flexy-current-color;
      box-shadow: 0 0 0 2px $flexy-current-color;
    }
  }
}