{% block actions %}
    {% set modelUrl = admin.getAbsoluteUrl(model) %}
    {% if modelUrl %}
        <li class="b-dropdown__item">
            <a class="b-dropdown__link" target="_blank" href="{{ modelUrl }}">
                <i class="icon search" aria-hidden="true"></i> На сайте
            </a>
        </li>
    {% endif %}

    {% if admin.can('update') %}
        <li class="b-dropdown__item">
            <a class="b-dropdown__link" href="{{ admin.getAdminUrl('update', ['pk' => model.pk]) }}">
                <i class="icon write" aria-hidden="true"></i> Изменить
            </a>
        </li>
    {% endif %}

    {% if admin.can('info') %}
        <li class="b-dropdown__item">
            <a class="b-dropdown__link" href="{{ admin.getAdminUrl('info', ['pk' => model.pk]) }}">
                <i class="icon browser" aria-hidden="true"></i> Открыть
            </a>
        </li>
    {% endif %}

    {% if admin.can('remove') %}
        <li class="b-dropdown__item">
            <a class="b-dropdown__link" data-confirm="{{ t('admin.delete_confirm') }}"
               href="{{ admin.getAdminUrl('remove', ['pk' => model.pk]) }}">
                <i class="icon trash" aria-hidden="true"></i> Удалить
            </a>
        </li>
    {% endif %}
{% endblock %}