{% extends "admin/base.html" %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
    ['name' => admin.getAdminNames(instance)[0], 'url' => admin.getAdminUrl('list')],
    ['name' => admin.getAdminNames(instance)[2]]
    ] %}
    {% parent %}
{% endblock %}

{% block title %}{{ admin.getAdminNames(instance)[2] }}{% endblock %}

{% block content %}
    <div class="b-content">
        <h1>{{ admin.getAdminNames(instance)[2] }}</h1>

        <div class="b-form-container">
            {% include admin.findTemplate("_form.html") %}
        </div>
    </div>
{% endblock %}
