<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow"/>
    <title>{%- block title -%}{% endblock %} - {{ trans('admin.title') }} - {{ app.name }}</title>
    <link rel="stylesheet" href="{{ asset('/bundles/admin/css/admin.css') }}"/>
    <script type='text/javascript' src="{{ asset('/bundles/admin/js/vendor.admin.js') }}"></script>
    <script type='text/javascript' src="{{ asset('/bundles/admin/js/admin.js') }}"></script>
    {% block css %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock content %}
</body>
