{% extends request.query.get('wysiwyg') ? "file/base.html" : "admin/base.html" %}

{% block title %}{{ t('file.admin.title') }}{% endblock %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
    ['name' => t('file.list')]
    ] %}
    {% parent %}
{% endblock %}

{% block content %}
    {% set path = request.query.get('path', '/') %}

    <div class="b-content">
        {% include "file/_upload.html" %}

        <div class="b-divider b-divider_divider"></div>

        <div>
            <a href="{{ url('file_create_directory', ['path' => path]) }}"
               class="b-button b-filemanager__mkdir">{{ t('file.create_directory') }}</a>
        </div>

        <div class="b-divider b-divider_divider"></div>

        {% include "file/_list.html" %}
    </div>
{% endblock %}
