{% for group_label, choice in choices %}
    {% if choice|is_array or choice|get_class() == 'Symfony\Component\Form\ChoiceList\View\ChoiceGroupView' %}
        <optgroup label="{{ false !== choice_translation_domain ? translator.trans(group_label, [], choice_translation_domain)|safe : group_label }}">
            {{ form_block(form, 'choice_widget_options', ['choices' => choice])|safe }}
        </optgroup>
    {% else %}
        <option value="{{ choice.value }}" {{ form_block(form, 'choice_attributes', ['choice_attr' => choice.attr]) }}{% if is_selected.__invoke(choice.value, value) %} selected="selected"{% endif %}>
            {{ choice_translaiton_domain ? translator.trans(choice.label, [], choice_translation_domain) : choice.label }}
        </option>
    {% endif %}
{% endfor %}