{% if label !== false %}
    {% if required %}
        {% set label_attr['class'] = (label_attr['class'] ? label_attr['class'] ~ ' required' : 'required')|trim %}
    {% endif %}
    {% if not compound %}
        {% set label_attr['for'] = id %}
    {% endif %}
    {% if not label %}
        {% set label = label_format ? label_format|strtr(['%name%' => name, '%id%' => id]) : form_humanize(name) %}
    {% endif %}
    {% set label_text = translation_domain ? translator.trans(label, [], translation_domain) : label %}
    <label {% for k, v in label_attr %} {{ k }}="{{ v }}"{% endfor %}>{{ label_text }}</label>
{% endif %}