{% set actions = admin.getActions() %}
{% if actions|length > 0 %}
    <form class="actions-form" action="{{ admin.getAdminUrl('list') }}" method="post">
        <div class="b-input-group actions--container">
            <select name="action" id="actions" class="b-input b-input_select actions">
                <option value="" disabled="disabled" selected="selected">{{ t('admin.action.choice', [], 'MindyBundle') }}</option>
                {% for key, value in actions %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="b-button b-button_icon">
                <i class="icon checkmark"></i>
            </button>
        </div>
    </form>
{% endif %}