<input class="b-input b-input_file" type="{{ type ? type : 'file' }}" {{ form_block(form, 'widget_attributes')|safe }}{% if not value|is_empty or value|is_numeric %} value="{{ value }}"{% endif %} />
{% if file_url %}
    <div>
        <input type="checkbox"
               class="b-input b-input_choice" value="__remove" name="{{ full_name }}" id="{{ full_name }}_remove" />
        <label class="b-label" for="{{ full_name }}_remove">Удалить текущий файл</label>
    </div>
    <div class="b-info">
        <div class="b-info__label">Текущий файл:</div>
        <a href="{{ file_url|asset(asset_name) }}" target="_blank"
           class="b-info__value">{{ file_url|basename }}</a>
    </div>
{% endif %}
