{% if label !== false %}
    {% if label_attr['class'] %}
        {% set label_attr['class'] = 'b-label ' ~ label_attr['class'] %}
    {% else %}
        {% set label_attr['class'] = 'b-label' %}
    {% endif %}
    {% if required %}
        {% set label_attr['class'] = label_attr['class'] ~ ' b-label_required' %}
    {% endif %}
    {% if not compound %}
        {% set label_attr['for'] = id %}
    {% endif %}
    {% if not label %}
        {% set label = label_format ? label_format|strtr(['%name%' => name, '%id%' => id]) : form_humanize(name) %}
    {% endif %}
    {% if not name|is_numeric %}
        <label {% for k, v in label_attr %} {{ k }}="{{ v }}"{% endfor %}>
        {{ translation_domain ? translator.trans(label, [], translation_domain) : label }}
        {% if tooltip %}
            <span class="b-label-help b-tooltip b-tooltip_top" data-tooltip="{{ tooltip }}">
                <i class="b-icon">question</i>
            </span>
        {% endif %}
        </label>
    {% endif %}
{% endif %}
