@import "mindy/colors/flat";
@import "mindy/fonts";

$flexy-font: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$flexy-grid-container-width: 1280px;
$flexy-theme-colors: (
        default: #2196f3,
        gray: #96a8b2,
        dark: #353535,
        divider: #f1f1f1,
        error: #dd162d,
        success: #4caf50,
        primary: #2196f3
);

$main-color: $sun;
$row-width: 2500px !default;
$body-bg: #F2F4FA;
$body-font-family: Lato, Arial, Helvetica, sans-serif;
// $body-font-family: $helvetica;
$button-padding: 4px 10px;

$blue: #005ECB;
$base-color: $blue;
$button-color: lighten($base-color, 20%);
$scrollbar-color: lighten($base-color, 30%);
$tab-color: $base-color;

$background-color: #fff !default;
$border-radius: 0 !default;
$button-border-radius: 0 !default;
//$text-color: $wet-asphalt;
$text-color: #000;

$text-inputs: "[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
textarea" !default;


/********************/

$header-height: 48px;