@import "mindy/colors/flat";
@import "mindy/mixins/base";

$blue: #005ECB;
$base-color: $blue;

.b-filemanager {
  &__label {
    font-family: $flexy-font;
    @include antialias;
    font-size: 1.1em;
    color: flexy-color(gray);
  }

  &__upload {
    border: {
      width: 2px;
      style: dashed;
      color: rgba(flexy-color(gray), .4);
    }
    margin: 1em 0;
    padding: 2em;
    background: {
      color: rgba(flexy-color(gray), .1);
    }
  }

  &__fileinput {
    display: none;
  }

  &__progress {
    $height: 26px;

    display: none;
    width: 100%;
    height: $height;
    border-radius: 4px;
    background: {
      color: #fafafa;
    }
    transition: all .2s ease;
    opacity: 0;

    .progress-state {
      height: $height;
      line-height: $height;
      text-align: center;
      width: 60%;
      background: {
        color: $emerald;
      }
      color: #fff;
      font-size: .9rem;
      border-radius: 4px;
    }
  }

  &__dropzone {
    margin: 1em 0;
    cursor: pointer;
    border: {
      width: 2px;
      style: dashed;
      color: flexy-color();
    }
    display: none;
    font-weight: bold;
    font-size: 1.4em;
    color: #000;
    border-radius: $flexy-theme-border-radius;
    text-align: center;
    @include antialias;
    padding: 3em 0;
    transition: all .4s ease;

    &_in {
      background: {
        color: rgba(flexy-color(), .1);
      }
      display: block;
    }

    &_hover {
      background: {
        color: rgba(flexy-color(), 0.3);
      }
    }
  }

  &__copy {
    margin-left: 1em;
  }

  &__td {
    &_icon {
      width: 32px;
      line-height: 32px;
      text-align: center;
    }

    &_container {
      width: 500px;
    }
  }

  &__breadcrumbs {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 4px 10px;
    @include clearfix;
    @include antialias;
    background: {
      color: #fafafa;
    }
    border: 1px solid #e5e5e5;

    li {
      float: left;
      color: $concrete;

      &:not(:last-child) {
        margin-right: 20px;
      }

      a, span {
        color: #000;
        position: relative;
        font-weight: bold;
        border-radius: 4px;
        padding: 5px 0;
        text-decoration: none;

        svg {
          width: auto;
          height: 16px;
          margin-bottom: -2px;
          margin-right: 6px;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__container {
    display: flex;
  }

  &__input {
    width: 240px;
  }

  &__table {
    tbody {
      tr {
        border-bottom: 1px solid #e1e1e1;

        td {
          &.b-filemanager__table-actions {

          }

          &.b-filemanager__table-icon {
            width: 32px;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
    }
  }
}