<div class="b-breadcrumb">
    <div class="b-breadcrumb__item{% if breadcrumbs|length == 0 %} b-breadcrumb__item_current{% endif %}">
        <a class="b-breadcrumb__link"
           href="{{ homeLink ? homeLink : url('admin_index') }}"><i class="b-icon">&#xE88A;</i></a>
    </div>
    {% for bc in breadcrumbs %}
        <div class="b-breadcrumb__symbol"></div>
        <div class="b-breadcrumb__item{% if loop.last %} b-breadcrumb__item_current{% endif %}">
            {% if bc.url and not loop.last %}
                <a class="b-breadcrumb__link"
                   href="{{ bc.url }}">{{ bc.name|trim }}</a>
            {% else %}
                {{ bc.name|trim }}
            {% endif %}
        </div>
    {% endfor %}
</div>