<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow"/>
    <title>{%- block title -%}Рабочий стол{% endblock %} - Панель администратора - Mindy</title>

    <link rel="stylesheet" href="/bundles/admin/css/admin.css"/>
    <script type='text/javascript' src="/bundles/admin/js/vendor.admin.js"></script>
    <script type='text/javascript' src="/bundles/admin/js/admin.js"></script>

    {% block css %}{% endblock %}
</head>
{% set open_sidebar = request.cookies.get('__sidebar_pin', 'true') == 'true' %}
<body>

<div class="b-sidebar-buttons {{ open_sidebar ? 'b-sidebar-buttons_open' : '' }}">
    <a class="b-sidebar-buttons__button b-sidebar-buttons__button_toggle" href="#">
        <i class="icon content"></i>
    </a>
    <a class="b-sidebar-buttons__button b-sidebar-buttons__button_pin {{ open_sidebar ? 'b-sidebar-buttons__button_pinned' : '' }}"
       href="#">
        <i class="icon pin"></i>
    </a>
</div>

<div class="b-sidebar {{ open_sidebar ? 'b-sidebar_open b-sidebar_pin' : '' }}">
    {{ admin_menu()|safe }}
</div>

<div class="b-page {{ open_sidebar ? 'b-page_padding' : '' }}">
    <header class="b-header {{ open_sidebar ? 'b-header_padding' : '' }}">
        <div class="b-header__panel b-header__panel_full">
            {% block breadcrumbs %}
                {% include "admin/_breadcrumbs.html" %}
            {% endblock breadcrumbs %}
        </div>
        <div class="b-header__panel">
            <div class="b-header__user">{{ user.getUsername() }}</div>
        </div>
    </header>

    {% block flash %}
        {% include "admin/_flash.html" %}
    {% endblock flash %}

    {% block content %}
    {% endblock content %}
    <footer class="b-footer">
        <div class="b-col b-col_small_12">
            <p class="b-footer__text">
                <a class="b-footer__link" href="http://mindy-cms.com" target="_blank">Mindy Framework</a> &copy;
                Проект разработан <a class="b-footer__link" href="http://studio107.ru"
                                     target="_blank">Studio107</a> &copy;
                Запрещено использование для коммерческих проектов без предварительного письменного согласия
                автора.
            </p>
        </div>
    </footer>
</div>
<script type='text/javascript' src="{{ asset('/bundles/admin/js/admin.js') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>