<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow"/>
    <title>{%- block title -%}Вход{% endblock %} - Панель администратора - Mindy</title>

    <link rel="stylesheet" href="/bundles/admin/css/admin.css"/>
    <script type='text/javascript' src="/bundles/admin/js/admin.js"></script>
</head>
<body class="b-body b-body_login">
<div class="b-login">
    <div class="b-login__container">
        <div class="b-login__logo">
            {% include "admin/logo.svg" %}
        </div>

        {% block flash %}
            {% include "admin/_flash.html" %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
