.b-dashboard {
  &__widget {
    padding: 10px;

    &_background {
      background: {
        color: #fafafa;
      }
    }

    &__counter {
      text-align: center;
      font-size: 2rem;
    }

    &__counter-text {
      text-align: center;
      font-size: .85rem;
      margin-top: 10px;
    }

    &__title {
      font-weight: bold;
      font-size: .9rem;
      margin: 0;
    }

    &__content {
      font-size: .85rem;
    }
  }
}