.b-filter-form {
  margin: 10px 0;
  display: none;
  border-radius: 4px;
  background: {
    color: #fff;
  }
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 8px 24px rgba(16, 22, 26, 0.1);

  &_active {
    display: block;
  }
}