.b-header {
  box-sizing: border-box;
  height: $header-height;
  line-height: $header-height;
  background: {
    color: $body-bg;
  }
  padding: 0 0 0 40px;
  border-bottom: 1px solid darken(#fafafa, 10%);
  display: flex;

  &_padding {
    padding-left: 0;
  }

  &__panel {
    padding: 0 10px;

    &_full {
      flex: 1;
    }
  }

  &__user {
    color: $asbestos;
    padding-right: 10px;
    display: inline-block;
  }

  &__burger {
    display: inline !important;
  }

  &__current-page {
    margin-left: 10px;
  }
}

.b-logo {
  width: 40px;
  height: 40px;
  filter: grayscale(20%);

  &_center {
    margin: 0 auto;
  }

  &__img {
    svg {
      width: auto;
      height: 40px;
    }
  }
}