$sidebar-item-padding: 0 10px;

.b-sidebar {
  box-sizing: border-box;
  width: $sidebar-width;
  height: 100%;
  background: #fff;
  position: fixed;
  left: -$sidebar-width;
  top: 0;
  z-index: 10;
  box-shadow: 0 1px 1px rgba(#000, 0.2);
  transition: all .2s ease-out;
  padding-top: $header-height;

  &_open {
    left: 0;
    box-shadow: 0 0 32px rgba(#000, 0.2);
  }

  &_pin {
    box-shadow: 0 0 0 1px rgba(#000, .1);
  }
}

.b-sidebar-container {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
}

.b-sidebar-buttons {
  z-index: 12;
  position: absolute;
  top: 10px;
  left: 10px;
  height: ($header-height - 20px);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  line-height: ($header-height - 20px);

  &_open {
    .b-sidebar-buttons__button {
      &_pin {
        display: block;
      }
    }
  }

  &__button {
    width: ($header-height - 20px);
    height: ($header-height - 20px);

    text-align: center;
    color: $asbestos;
    text-decoration: none;
    transition: all .2s ease;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background: {
        color: $base-color;
      }
      color: #fff;

      &, .icon {
        color: #fff;
      }
    }

    &_pin {
      display: none;
    }
  }

  .icon {
    margin: 0;
  }
}

.b-sidebar-menu-container {
  margin-bottom: 20px;
  padding: 0;
}

.b-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &__name {
    padding: 5px 10px;
    box-shadow: 0 1px 0 rgba(#000, 0.1);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
    color: $wet-asphalt;
  }

  &__text {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: bold;
    color: $wet-asphalt;
  }

  &_nested {
    margin-left: 20px;
  }

  &__li {
    font-size: 14px;
    line-height: 1.4;
  }

  &__link {
    color: $wet-asphalt;
    text-decoration: none;
    display: block;
    padding: 5px 10px;

    &:hover {
      background: {
        color: $base-color;
      }
      color: #fff;
    }
  }
}