.b-check {
  &__th, &__td {
    width: 22px;
    text-align: center;

    .b-input_choice[type=checkbox],
    .b-input_choice[type=radio] {
      & + .b-label {
        padding-left: 22px;
        margin-bottom: 0;
      }
    }
  }
}