{% set wysiwyg = request.query.get('wysiwyg') %}
{% set isTinymce = wysiwyg == 'tinymce' %}
{% set isCkeditor = wysiwyg == 'ckeditor' %}
{% set isWysiwyg = isTinymce or isCkeditor %}
<div class="b-filemanager__target" data-filemanager="true" data-wysiwyg="{{ request.query.get('wysiwyg') }}">
    {% if fileBreadcrumbs|length > 0 %}
        {% include "admin/_breadcrumbs.html" with ['breadcrumbs' => fileBreadcrumbs, 'homeLink' => url('file_list')] %}
    {% endif %}

    {% if objects|length %}
        <table class="b-table b-filemanager__table">
            <thead class="b-table__thead">
            <tr class="b-table__tr">
                <th class="b-table__th"></th>
                <th class="b-table__th">{{ t('file.column.name') }}</th>
                <th class="b-table__th"></th>
                <th class="b-table__th b-filemanager__table-actions"></th>
            </tr>
            </thead>
            <tbody class="b-table__tbody">
            {% for entry in objects %}
                <tr class="b-table__tr">
                    <td class="b-table__td b-filemanager__td b-filemanager__td_icon">
                        {% if entry.is_dir %}
                            <i class="material-icons">&#xE2C7;</i>
                        {% else %}
                            <i class="material-icons">&#xE226;</i>
                        {% endif %}
                    </td>
                    <td class="b-table__td b-filemanager__td b-filemanager__td_name">
                        {% if entry.is_dir %}
                            <a href="{{ url('file_list', ['path' => entry.path, 'wysiwyg' => wysiwyg]|merge(request.query.all())) }}">{{ entry.name }}</a>
                        {% else %}
                            <a href="{{ entry.url|asset('media') }}" target="_blank">{{ entry.name }}</a>
                        {% endif %}
                    </td>
                    <td class="b-table__td b-filemanager__td b-filemanager__td_container">
                        {% if not entry.is_dir %}
                            <div class="b-filemanager__container">
                                <input type="text" value="{{ entry.url|asset('media') }}"
                                       class="b-input b-filemanager__input" readonly/>
                                <a href="#"
                                   class="b-filemanager__copy"
                                   data-text="{{ entry.url|asset('media') }}">{{ t('file.copy_link') }}</a>
                            </div>
                            {% if isWysiwyg %}
                                <a href="#"
                                   data-name="{{ entry.name }}"
                                   data-url="{{ entry.url|asset('media') }}"
                                   class="b-filemanager__paste"
                                   data-text="{{ entry.url|asset('media') }}">{{ t('file.insert') }}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="b-table__td b-filemanager__td b-filemanager__td_actions" align="right">
                        <a href="{{ url('file_delete', ['path' => entry.path]) }}"
                           class="b-filemanager__remove"
                           data-confirm-message="{{ t('file.delete_confirm') }}"
                           title="{{ t('file.remove') }}">
                            <span class="b-icon">&#xE872;</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ t('file.empty') }}</p>
    {% endif %}
</div>
