<div class="b-group">
    <div class="b-input-group">
        {% if admin.can('create') %}
            <a href="{{ admin.getAdminUrl('create') }}" class="b-button b-button_primary">
                {{ t('admin.action.create') }}
            </a>
        {% endif %}

        {% if filterForm %}
            <a href="#" class="b-button b-button_icon b-filter-button">
                <i class="icon filter"></i>
            </a>
        {% endif %}
    </div>

    {% if searchHandler %}
        <form action="" method="get" class="b-input-group">
            <input type="text" name="search"
                   placeholder="{{ t('admin.search.placeholder') }}"
                   class="b-input"
                   value="{{ searchHandler.getValue() }}"/>
            <button type="submit"
                    class="b-button"
                    value="{{ t('admin.search.placeholder') }}">
                <i class="icon search"></i>
            </button>
        </form>
    {% endif %}

    {% if admin.can('export') %}
        <a href="{{ admin.getAdminUrl('export') }}" target="_blank" class="b-button">
            {{ t('admin.export') }}
        </a>
    {% endif %}
</div>

{% if filterForm %}
    <div class="b-filter-form">
        {{ form_render(filterForm)|safe }}
    </div>
{% endif %}
