<div class="b-group">
    <div class="b-input-group">
        {{ form_widget(form.children.save, ['attr' => ['class' =>'b-button_primary']])|safe }}
    </div>
    <div class="b-input-group">
        {{ form_widget(form.children.save_and_return, ['attr' => ['class' => 'b-button_gray']])|safe }}
        {{ form_widget(form.children.save_and_create, ['attr' => ['class' => 'b-button_gray']])|safe }}
    </div>
    {% if link %}
        <div class="b-input-group">
            <a href="{{ link }}" target="_blank" class="b-button">Открыть на сайте</a>
        </div>
    {% endif %}
</div>